.main-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sidebar-wrapper {
    display: flex;
}

.right-column-wrapper {
    display: flex;
}

/* Rimuovi il padding extra */
body {
    margin: 0;
    overflow: hidden;
}

.home {
    overflow: hidden;
    scrollbar-width: none;  /* Firefox */
  }

.full-height {
    height: calc(100vh - 20px); /* Altezza pari al 100% della viewport meno eventuali margini */
    overflow-y: auto; /* Abilita lo scroll verticale quando necessario */
}

.content-wrapper {
    height: 100%; /*Utilizza tutta l'altezza disponibile*/
    overflow-y: auto; /* Abilita lo scroll verticale solo per il componente Feed */
    scrollbar-width: none;  /* Firefox */
}

  /* Nascondi la scrollbar verticale */
.content-wrapper::-webkit-scrollbar {
    width: 0; /* Nascondi la larghezza */
    background: transparent; /* Imposta lo sfondo trasparente */
}
  

/* Rimuovi il padding extra */
.main-row {
  margin-right: 0; /* Rimuovi margini a destra */
  margin-left: 0; /* Rimuovi margini a sinistra */
}