@import '../../scss/variables.scss';

.post {
    width: 100%;
    // border-radius: 10px;
    background-color: $darkMode-Element;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow:         0px 0px 16px -8px rgba(0,0,0,0.68);
    // margin: 30px 0;
}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername {
    font-size: 13px;
    font-weight: 500;
    margin: 0 1em;
    color: $darkMode-Tag;
}

.postReceiverUsername {
    font-size: 13px;
    font-weight: 500;
    margin: 0.5em 0 0 0;
    color: $darkMode-Tag;
}

.postDisplayedName {
    font-size: 14px;
    margin-left: 10px;
}

// .postTopRight {

// }

.postCharUsed {
    margin-left: auto;
    flex-grow: 2;
    text-align: right;
}

.postCenter {
    margin: 20px 0;
}

.postInfo {
    height: 39px;
    // @extend .btn;
    // @extend .btn-dark;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
    margin: 5px;
    filter: brightness(0) invert(1);  /* filter applicato in combinazione con btn transparent per tenere l'svg bianco e non far vedere il bottone */
    @media (max-width: 768px) {
        width: 24px;
        height: 24px;
        margin: 0;
    }
}

.postLikeCounter {
    font-style: 15px;
    margin-left: 5px;
}

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}

.btn-transparent {
    background-color: transparent !important;
    border: none !important;
  }

  .btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active, .btn-transparent.active, .open>.dropdown-toggle.btn-transparent {
    color: #fff !important;
    background-color: #00b3db !important;
    border-color: #285e8e !important; /*set the color you want here*/
}