@keyframes heart-beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .your-heart-animation {
    animation: heart-beat 0.5s ease-in-out infinite;
  }
  