/* Bottombar.css */
.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Aggiungi altri stili a tua scelta per il footer */
    /* background-color, padding, etc. */
  }

.ca {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-no-outline:focus {
  outline: none;
  box-shadow: none; /* Assicurati di rimuovere anche eventuali ombre di focus */
}

.btn-transparent {
  background-color: transparent !important;
  border: none !important;
}