@import '../scss/variables.scss';

.topBar{
    display: flex;
}

.Bell {
    margin-left: 20px;
    margin-right: 20px;
}

.Logout {
    margin-right: 20px;
}

.Logo {
    font-size: 24px;
    margin-left: 10px;
    font-weight: bold;
    line-height: 50px;
}

.searchBar {
    width: 100%;
    height: 30px;
    background-color: $darkMode-Input;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}
    
.searchInput {
    background-color: $darkMode-Input;
    color: #f2cdcd;
    border: none;
    width: 100%;
}

.searchInput:focus {
    outline: none;
}


.navbarImg {
    width: 32px;
    height: 32px;
}

.topLeft{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logButton {
    align-items: end;
}