.searchBar {
    border-radius: 20px; /* Arrotonda gli angoli */
    overflow: hidden; /* Nasconde eventuali contenuti che superano i confini */
    display: flex;
    align-items: center;
  }
  
  .searchIcon {
    margin-left: 10px; /* Spazio a sinistra dell'icona */
  }
  
  .searchInput {
    flex: 1; /* Fai espandere l'input per occupare lo spazio disponibile */
    padding: 10px; /* Aggiungi spazio interno all'input */
    border: none; /* Rimuovi il bordo */
    outline: none; /* Rimuovi il contorno attorno all'input quando è selezionato */
    width: 100%; /* Assicura che l'input si espanda completamente */
    max-width: calc(100% - 30px); /* Imposta la larghezza massima dell'input per evitare l'overflow */
  }
  